.fbBtn img{
    height: 70px; 
    width: 70px; 
}
.socialM{
    padding-top: 3rem; 
    padding-bottom: 3rem; 
    background-color: rgb(236, 236, 236); 
}
.contain{
    background-color: #777777; 
    height: 10rem; 
    display: table; 
    width: 100%; 
}
p, p a{
    text-decoration-style: none; 
    text-align: center; 
    color: white; 
}
.items{
    display: table-cell; 
    vertical-align: bottom; 
}
