<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<div class="resume">
    <div class="list">
        <div class="listL">
            <li>Skills</li>
        </div>
        <div class="listR">
            <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>C#</li>
            <li>Java</li>
            <li>Typescript</li>
            <li>Arduino</li>
            <li>Git</li>
            <li>Python</li>
            <li>SQL</li>
            <li>Dutch</li>
            <li>English</li>
            </ul>
        </div>  
    </div><br>
    <div class="list">
        <div class="listL">
            <li>Experience</li>
        </div>
        <div class="listR">
            <ul>
            <li>Bartender at Brasserie Hof De Bist</li>
            </ul>
        </div>
    </div><br>
    <div class="list">
        <div class="listL">
            <li>Education</li>
        </div>
        <div class="listR">
            <ul>
            <li>Electronics-ICT</li>
            <li>Industrial ICT</li>
            <li>Electricity-electronics</li>
            </ul>
        </div>
    </div>
</div>